    /* Fonts */
    @import url(https://fonts.googleapis.com/css?family=Open+Sans:400);  
    @import url(https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap);
    
    /* Simple Reset */
    * { margin: 0; padding: 0; box-sizing: border-box; }
    
    /* body */
    body {
     background: #e9e9e9;
     color: #5e5e5e;
     font: 400 87.5%/1.5em sans-serif;
    }
    /* Form Layout */
    .form-wrapper {
     background: #fafafa;
     margin: 3em auto;
     padding: 3em 1em;
     max-width: 370px;
    }
    
    h1 {
     text-align: center;
     padding: 1em 0;
    }
    
    h2 {
     text-align: center;
     padding: 1em 0;
    }
    
    form {
     padding: 0 1.5em;
    }
    
    .form-item {
     margin-bottom: 0.75em;
     width: 100%;
    }
    
    .form-item input {
     background: #fafafa;
     border: none;
     border-bottom: 2px solid #e9e9e9;
     color: #666;
     font-family: sans-serif;
     font-size: 1em;
     height: 50px;
     transition: border-color 0.3s;
     width: 100%;
    }
    
    .form-item input:focus {
     border-bottom: 2px solid #c0c0c0;
     outline: none;
    }
  
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 40%;
}

/*Mission */
.background-square {
    border-radius: 30px;
    border: 0.5px solid #ffffff;
    background-color: #ffeb51;
    padding: 3em 1em;
    min-width: 25px;
    min-height: 50px;
    max-width: 280px;
    max-height: 400px;
  }

.mission-char {
  text-align: center;
     padding: 1em 0;
  color: #120303;
  font-family: "RocknRoll One";
  font-size: 2em;
}

.mission-char p {
  font-size: 60%;
  padding: 1.1em 1.1em 3em 0;
}

a.mission-button{
  color: #ffffff;
  font-weight: bold;
  font-family: sans-serif;
  background: #333;
  padding: 1em 2em;
  border-radius: 6px;
  transition: .3s;
}
a.mission-button:hover {
  background: #13c3ac;
}
a.mission-button.pressed {
  color: #3333336c;
  font-weight: bold;
  font-family: sans-serif;
  padding: 1em 2em;
  border-radius: 6px;
  transition: .5s ease-in-out;
  
  background: #b8b8b8;
}